<form action="/payment/results">
  <div>
    <label for="apr_input">APR (Annual Percentage Rate)</label>
    <input id="apr_input" name="user_apr" type="text" />
  </div>

  <div>
    <label for="years_input">Number of years</label>
    <input id="years_input" name="user_years" type="text" />
  </div>

  <div>
    <label for="pv_input">Principal</label>
    <input id="pv_input" name="user_pv" type="text" />
  </div>

  <button>Calculate monthly payment</button>
</form>
