<form action="/square_root/results">
  <div>
    <label for="sqrt_input">Enter a number</label>
    <input id="sqrt_input" name="user_number" type="text" />
  </div>
  <button>Calculate square root</button>
</form>

